@model Library.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Books</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelaseDate" class="control-label"></label>
                <input asp-for="RelaseDate" class="form-control" />
                <span asp-validation-for="RelaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueForAuthor" class="control-label"></label>
                <input asp-for="ValueForAuthor" class="form-control" />
                <span asp-validation-for="ValueForAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibWorth" class="control-label"></label>
                <input asp-for="LibWorth" class="form-control" />
                <span asp-validation-for="LibWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
